.movie-tile-title {
    font-size: 120%;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.movie-tile:visited {
    background-color: #EEF;
    cursor: pointer;
}