.movie-tile-title {
  font-size: 120%;
}

.movie-tile {
  width: 400px;
  height: 500px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.movie-tile:hover {
  background-color: #EEE;
  cursor: pointer;
}

.movie-tile:visited {
  background-color: #EEF;
  cursor: pointer;
}