<body>
<paper-toolbar>
  <paper-icon-button icon="menu" style="color: white;"></paper-icon-button>
  <span class="login">{{> loginButtons}}</span>

  <div class="title">
    Movie Owl Films
  </div>
</paper-toolbar>

{{#if currentUser}}
  <div class="movie-input">
    <span class="add-movie">
      <h3 class="center">Add Movie:</h3>
      <form class="new-movie">
        <input class="textinput" type="text" name="title" placeholder="Title of movie ex. Inception"/> <br/>
        <input class="textinput" type="text" name="description"
               placeholder="Description ex. A man's journey to plant an idea in another's mind"/> <br/>
        <input class="textinput" type="text" name="poster_url" placeholder="URL of a poster image"/> <br/>
        <input class="textinput" type="text" name="youtube_url" placeholder="URL of a trailer on youtube"/>
        <input type="submit" value="Submit">
      </form>
      <h3 class="center">Add By Title:</h3>
      <form class="add-by-search">
        <input width="50" type="text" name="title" placeholder="Title of movie ex. Inception"/>
        <input type="submit" value="Submit">
      </form>
    </span>
    <span class="sort-by">
      Sort By:
      <paper-radio-group id="order-by" multi=false selected="rating">
        <paper-radio-button name="rating">Rating</paper-radio-button>
        <paper-radio-button name="year">Year</paper-radio-button>
        <paper-radio-button name="date_created">Date Added</paper-radio-button>
      </paper-radio-group>
    </span>
  </div>
  <br>

  <div id="openModal" class="modalDialog">
    <div>
        <google-youtube class="center" video-id="V3-a58Wt2tk" height="540px" width="960px" rel="0" id="youtube-video">
        </google-youtube>

      <a href="#" title="Close" class="close">
        <img src="/images/gnome_process_stop.png">
      </a>
    </div>
  </div>

  <ul>
    {{#each user_movies}}
      {{> movie_tile}}
    {{/each}}
  </ul>
{{else}}
  <h3 class="center">Please sign in.</h3>
{{/if}}
</body>
